# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# VS Code files
.vscode/
*.code-workspace

# macOS system files
.DS_Store

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Environment variables
.env
.env.*

# Python egg files
*.egg
*.egg-info/
dist/
build/
